<div class="flex flex-col mt-[2rem] min-w-full overflow-hidden">
  <div class="flex flex-row items-center justify-between">
    <h1 class="text-2xl">
      {{ ('COMMON.FEATURES.CHECKS' | translate | async) || 'Checks' }}
    </h1>
    <div class="flex flex-row gap-1">
      <button
        (click)="handleCreateCheckReport()"
        [title]="
          ('COMMON.REPORTS.CREATE_REPORT' | translate | async) ||
          'Create Report'
        "
        nz-button
        class="ml-2 items-center flex mb-[0.5em] !rounded-lg">
        <span
          >{{
            ('COMMON.REPORTS.CREATE_REPORT' | translate | async) ||
              'Create Report'
          }}
          <span
            class="items-center flex relative bottom-[0.15rem]"
            nz-icon
            [nzTheme]="'outline'"
            nzType="project"></span
        ></span>
      </button>
      <button
        (click)="handleEmployeeManagement()"
        [title]="
          ('EMPLOYEES.MANAGE_EMPLOYEES' | translate | async) ||
          'Manage Employees'
        "
        nz-button
        class="ml-2 items-center flex mb-[0.5em] !rounded-lg">
        <span
          >{{
            ('EMPLOYEES.MANAGE_EMPLOYEES' | translate | async) ||
              'Manage Employees'
          }}
          <span
            class="items-center flex relative bottom-[0.15rem]"
            nz-icon
            [nzTheme]="'outline'"
            nzType="user-add"></span
        ></span>
      </button>
      <button
        (click)="handleCreateCheck()"
        [title]="('CHECKS.CREATE_CHECK' | translate | async) || 'Create Check'"
        nz-button
        class="ml-2 items-center flex mb-[0.5em] !rounded-lg">
        <span
          >{{ ('CHECKS.CREATE_CHECK' | translate | async) || 'Create Check' }}
          <span
            class="items-center flex relative bottom-[0.15rem]"
            nz-icon
            [nzTheme]="'outline'"
            nzType="plus-circle"></span
        ></span>
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <app-checks-report-table
      [loading$]="loading$"
      [currentPage]="currentPage"
      [totalRecords]="totalRecords"
      (pageChange)="onPageChange($event)"
      [isActionRowVisible]="true"
      [listOfData]="(checks$ | async) || []"
      (deleteItem)="handleDeleteItem($event)"
      (printItem)="handlePrintItem($event)"
      (viewItem)="handleViewItem($event)">
    </app-checks-report-table>
  </div>
</div>

<ng-template #CreateChecksReportModalTemplate>
  <app-create-checks-report-modal />
</ng-template>
