<form
  [formGroup]="resetForm"
  class="p-8 max-w-lg mx-auto bg-white rounded-lg"
  (ngSubmit)="onSubmit()">
  <h2 class="text-3xl italic font-semibold text-center text-gray-800 mb-8">
    Reset Password
  </h2>
  <div class="mb-6">
    <label for="email" class="block text-gray-600 text-sm font-medium mb-2"
      >Email</label
    >
    <input
      type="email"
      id="email"
      formControlName="email"
      class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500 focus:border-blue-500" />
    <p
      *ngIf="
        resetForm.controls?.['email']?.invalid &&
        resetForm.controls?.['email']?.touched
      "
      class="text-red-600 text-xs italic mt-1">
      Please enter a valid email.
    </p>
  </div>
  <div class="flex items-center justify-between">
    <button
      class="w-full py-2 px-4 bg-red-600 hover:bg-red-700 text-white font-semibold rounded-lg focus:outline-none focus:shadow-outline"
      type="submit">
      Reset Password
    </button>
  </div>
</form>
