<div class="flex flex-col mt-[2rem] min-w-full overflow-hidden">
  <h1 class="text-2xl">Dashboard</h1>
  <div class="my-[1rem] sm:grid sm:grid-cols-4 gap-4 flex flex-col min-w-full">
    <app-navigation-card
      [icon]="'./assets/images/logo.png'"
      [title]="'Weekly Reports'"
      [navigateTo]="'../weekly-reports'"></app-navigation-card>
    <app-navigation-card
      [icon]="'./assets/images/logo.png'"
      [title]="'Invoices'"
      [navigateTo]="'../invoices'"></app-navigation-card>
    <app-navigation-card
      [icon]="'./assets/images/logo.png'"
      [title]="'Checks'"
      [navigateTo]="'../checks'"></app-navigation-card>
    <app-navigation-card
      [icon]="'./assets/images/logo.png'"
      [title]="'Bank'"
      [navigateTo]="'../bank'"></app-navigation-card>
    <app-navigation-card
      [icon]="'./assets/images/logo.png'"
      [title]="'Tax'"
      [navigateTo]="'../tax'"></app-navigation-card>
    <app-navigation-card
      [icon]="'./assets/images/logo.png'"
      [title]="'Payroll Reports'"
      [navigateTo]="'../payroll-reports'"></app-navigation-card>
  </div>
</div>
