<div class="flex flex-col mt-[1rem] min-w-full overflow-hidden">
  <div class="overflow-auto max-h-[80dvh]">
    <div
      *ngIf="data?.report"
      class="flex flex-row w-full justify-end items-center">
      <button
        [title]="('CLIENTS.EDIT_CLIENT' | translate | async) || 'Edit Client'"
        class="!flex !flex-row !justify-center !items-center !rounded-2xl !gap-1"
        nz-button
        [nzType]="isEditMode ? 'primary' : 'default'"
        (click)="handleEditModeToggled()"
        type="button">
        <span class="sr-only">{{
          ('COMMON.ACTIONS.EDIT' | translate | async) || 'Edit'
        }}</span>
        <span
          class="!flex !flex-row !justify-center !items-center !ml-0"
          nz-icon
          [nzType]="'edit'"
          nzTheme="outline"></span>
      </button>
    </div>
    <div
      class="flex flex-row gap-4 lg:items-center items-start justify-between">
      <app-weekly-report-input-row
        [isDisabled]="isEditMode"
        [dateRange]="date"
        [revenueTotal]="revenue"
        [payrollTotal]="payroll"
        (changed)="handleInputRowChanged($event)"
        (isValid)="handleInputRowValidity($event)"
        (isTouched)="
          handleInputRowTouched($event)
        "></app-weekly-report-input-row>
      <div class="flex flex-col w-[45%] justify-around">
        <div class="flex lg:flex-row flex-col justify-around">
          <app-expense-item-label
            [label]="
              ('WEEKLY_REPORTS.TOTAL_EXPENSES' | translate | async) ||
              'Total Expenses'
            "
            [value]="totalExpenses"
            [isExpense]="true"></app-expense-item-label>
          <app-expense-item-label
            [label]="('WEEKLY_REPORTS.PROFIT' | translate | async) || 'Profit'"
            [value]="profit"
            [isExpense]="false"></app-expense-item-label>
          <app-expense-item-label
            [label]="
              ('WEEKLY_REPORTS.SPLIT_PROFIT' | translate | async) ||
              'Profit Split'
            "
            [value]="profitSplit"
            [isExpense]="false"></app-expense-item-label>
        </div>
        <div class="flex lg:flex-row flex-col justify-between">
          <app-expense-item-tag
            [label]="
              ('WEEKLY_REPORTS.MOULDING' | translate | async) || 'Moulding'
            "
            [value]="mouldingCost"></app-expense-item-tag>
          <app-expense-item-tag
            [label]="
              ('WEEKLY_REPORTS.DECKING' | translate | async) || 'Decking'
            "
            [value]="deckingCost"></app-expense-item-tag>
          <app-expense-item-tag
            [label]="
              ('WEEKLY_REPORTS.FRAMING' | translate | async) || 'Framing'
            "
            [value]="framingCost"></app-expense-item-tag>
          <app-expense-item-tag
            [label]="('WEEKLY_REPORTS.MISC' | translate | async) || 'Misc'"
            [value]="miscCost"></app-expense-item-tag>
        </div>
      </div>
    </div>
    <app-expense-item-list
      (employeeSearch)="handleEmployeeSearch($event)"
      [employeeList]="employeeList"
      [items]="expenseList"
      [isDisabled]="isEditMode"
      (isTouched)="handleExpenseListTouched($event)"
      (isValid)="handleExpenseListValidity($event)"
      (addItemRequest)="handleAddExpenseRow()"
      (itemDeleted)="handleDeleteExpenseRow($event)"
      (changed)="handleExpenseListChange()"
      class="m-4" />
  </div>
</div>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="onCancel()">
    {{ ('COMMON.ACTIONS.CANCEL' | translate | async) || 'Cancel' }}
  </button>
  <button
    nz-button
    nzType="primary"
    [disabled]="!isFormValid()"
    (click)="submitForm()">
    {{
      data?.report
        ? ('COMMON.ACTIONS.UPDATE' | translate | async) || 'Update'
        : ('COMMON.ACTIONS.CREATE' | translate | async) || 'Create'
    }}
  </button>
</ng-template>
