<div class="flex flex-col mt-[1rem] min-w-full overflow-hidden">
  <div class="overflow-auto max-h-[80dvh]">
    <div class="flex flex-row gap-4 lg:items-center items-start justify-evenly">
      <app-weekly-report-input-row
        (changed)="handleInputRowChanged($event)"></app-weekly-report-input-row>
      <div class="flex flex-col w-[45%] justify-around">
        <div class="flex lg:flex-row flex-col justify-around">
          <app-expense-item-label
            [label]="'Total Expenses'"
            [value]="totalExpenses"
            [isExpense]="true"></app-expense-item-label>
          <app-expense-item-label
            [label]="'Profit'"
            [value]="profit"
            [isExpense]="false"></app-expense-item-label>
          <app-expense-item-label
            [label]="'Profit Split'"
            [value]="profitSplit"
            [isExpense]="false"></app-expense-item-label>
        </div>
        <div class="flex lg:flex-row flex-col justify-between">
          <app-expense-item-tag
            [label]="'Moulding'"
            [value]="mouldingCost"></app-expense-item-tag>
          <app-expense-item-tag
            [label]="'Decking'"
            [value]="deckingCost"></app-expense-item-tag>
          <app-expense-item-tag
            [label]="'Framing'"
            [value]="framingCost"></app-expense-item-tag>
          <app-expense-item-tag
            [label]="'Misc'"
            [value]="miscCost"></app-expense-item-tag>
        </div>
      </div>
    </div>
    <app-expense-item-list
      [items]="expenseList"
      (addItemRequest)="handleAddExpenseRow()"
      (itemDeleted)="handleDeleteExpenseRow($event)"
      (changed)="handleExpenseListChange()"
      class="m-4" />
  </div>
</div>
