<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<form nz-form [formGroup]="createEmployeeForm" (ngSubmit)="onSubmit()">
  <div
    *ngIf="data?.employee"
    class="flex flex-row w-full justify-end items-center">
    <button
      [title]="
        ('EMPLOYEES.EDIT_EMPLOYEE' | translate | async) || 'Edit Employee'
      "
      class="!flex !flex-row !justify-center !items-center !rounded-2xl !gap-1"
      nz-button
      [nzType]="isEditMode ? 'default' : 'primary'"
      (click)="handleEditToggleClicked()"
      type="button">
      <span class="sr-only">{{
        ('COMMON.ACTIONS.EDIT' | translate | async) || 'Edit'
      }}</span>
      <span
        class="!flex !flex-row !justify-center !items-center !ml-0"
        nz-icon
        [nzType]="'edit'"
        nzTheme="outline"></span>
    </button>
  </div>
  <div class="md:grid-cols-2 md:grid gap-4 flex flex-col">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the employee's name">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true">{{
          ('COMMON.PERSONAL_DETAILS.NAME' | translate | async) || 'Name'
        }}</nz-form-label>
        <input
          formControlName="name"
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the employee's address">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false">{{
          ('COMMON.LOCATION.ADDRESS' | translate | async) || 'Address'
        }}</nz-form-label>
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="address" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid phone number">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false">{{
          ('COMMON.COMMUNICATION.PHONE' | translate | async) || 'Phone'
        }}</nz-form-label>
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="phone" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the employee's city">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false">{{
          ('COMMON.LOCATION.CITY' | translate | async) || 'City'
        }}</nz-form-label>
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="city" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid email address">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false">{{
          ('COMMON.COMMUNICATION.EMAIL' | translate | async) || 'Email'
        }}</nz-form-label>

        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the employee's state">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false">{{
          ('COMMON.LOCATION.STATE' | translate | async) || 'State'
        }}</nz-form-label>
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="state" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid hourly rate">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false">{{
          ('COMMON.BUSINESS.HOURLY_RATE' | translate | async) || 'Hourly Rate'
        }}</nz-form-label>
        <input
          currencyMask
          class="!mt-1 !block !text-left !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="hourlyRate" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid zipcode">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false">{{
          ('COMMON.LOCATION.ZIP_CODE' | translate | async) || 'Zipcode'
        }}</nz-form-label>
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="zipCode" />
      </nz-form-control>
    </nz-form-item>

    <!-- Implement fields for ssn and job title -->

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid ssn">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false">{{
          ('COMMON.PERSONAL_DETAILS.SSN' | translate | async) || 'SSN'
        }}</nz-form-label>
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="socialSecurityNumber" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid job title">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false">{{
          ('COMMON.BUSINESS.JOB_TITLE' | translate | async) || 'Job Title'
        }}</nz-form-label>
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="jobTitle" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please provide a value for this field">
        <label nz-checkbox formControlName="isContractor">{{
          ('EMPLOYEES.IS_CONTRACTOR' | translate | async) || 'Contractor?'
        }}</label>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="onCancel()">
    {{ ('COMMON.ACTIONS.CANCEL' | translate | async) || 'Cancel' }}
  </button>
  <button
    nz-button
    nzType="primary"
    [disabled]="!isFormValid()"
    (click)="onSubmit()">
    {{
      data?.employee
        ? ('COMMON.ACTIONS.UPDATE' | translate | async) || 'Update'
        : ('COMMON.ACTIONS.CREATE' | translate | async) || 'Create'
    }}
  </button>
</ng-template>
