<div
  class="shadow overflow-scroll sm:rounded-lg p-4 border border-gray-900 bg-white h-full client-list-table">
  <nz-table
    class="pb-4"
    [nzPageSize]="limit"
    #nzTable
    [nzLoading]="loading$ | async"
    [nzData]="listOfData"
    [nzShowPagination]="false"
    [nzTableLayout]="'fixed'">
    <thead>
      <tr
        class="px-6 flex-row py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <th
          *ngFor="let th of tableHeaders"
          nzCustomFilter
          [nzSortFn]="th?.sortFn"
          [nzShowFilter]="true"
          class="!font-bold">
          {{ th.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data; index as i">
        <td>{{ data.companyName }}</td>
        <td>
          {{ data.phone }}
        </td>
        <td>
          {{ data.email }}
        </td>
        <td *ngIf="isActionRowVisible">
          <div class="flex flex-row gap-2 justify-center">
            <button
              title="View Item"
              (click)="handleViewItem(data)"
              nz-button
              class="!rounded-lg items-center justify-center flex flex-col">
              <div>
                <span
                  class="items-center justify-center h-[1.4rem]"
                  nz-icon
                  [nzType]="'eye'"
                  nzTheme="outline"></span>
                <span class="sr-only">View</span>
              </div>
            </button>
            <button
              (click)="handlePrintItem(data)"
              nz-button
              title="Print Item"
              class="!rounded-lg items-center justify-center flex flex-col">
              <div>
                <span
                  class="items-center justify-center h-[1.4rem]"
                  nz-icon
                  [nzType]="'printer'"
                  nzTheme="outline"></span>
                <span class="sr-only">Print</span>
              </div>
            </button>
            <button
              nz-button
              title="Delete Item"
              class="!rounded-lg items-center justify-center flex flex-col"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="handleDeleteItem(data?.id || '')">
              <div>
                <span
                  class="items-center !text-red-400 justify-center h-[1.4rem]"
                  nz-icon
                  [nzType]="'delete'"
                  nzTheme="outline"></span>
                <span class="sr-only">Delete</span>
              </div>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="flex flex-row min-w-full justify-end" *ngIf="count > 0">
    <nz-pagination
      [nzPageIndex]="currentPage"
      [nzTotal]="count"
      [nzPageSize]="limit"
      (nzPageIndexChange)="handlePageChange($event)">
    </nz-pagination>
  </div>
</div>
