<div class="flex flex-col gap-4">
  <nz-tabset
    class="!mt-4"
    [nzAnimated]="false"
    [nzSelectedIndex]="selectedTabIndex"
    (nzSelectChange)="handleTabChanged($event)">
    <nz-tab
      class="!text-gray-600 !hover:text-blue-500"
      *ngFor="let item of items; let i = index"
      [nzTitle]="(item.label | translate | async) || item.label"
      [nzForceRender]="true"
      [nzDisabled]="false"
      [nzClosable]="false">
      <ng-container *ngIf="selectedTabIndex === i">
        <router-outlet></router-outlet>
      </ng-container>
    </nz-tab>
  </nz-tabset>
</div>
