<div class="flex flex-col mt-[1rem] min-w-full overflow-hidden">
  <div class="overflow-auto max-h-[80dvh]">
    <div
      *ngIf="data?.check || check"
      class="flex flex-row w-full justify-end items-center">
      <button
        [title]="('CHECKS.EDIT_CHECK' | translate | async) || 'Edit Check'"
        class="!flex !flex-row !justify-center !items-center !rounded-2xl !gap-1"
        nz-button
        [nzType]="isEditMode ? 'primary' : 'default'"
        (click)="handleEditModeToggled()"
        type="button">
        <span class="sr-only">{{
          ('COMMON.ACTIONS.EDIT' | translate | async) || 'Edit'
        }}</span>
        <span
          class="!flex !flex-row !justify-center !items-center !ml-0"
          nz-icon
          [nzType]="'edit'"
          nzTheme="outline"></span>
      </button>
    </div>
    <div class="flex flex-row gap-4 mx-2 items-center justify-between">
      <div class="flex flex-row gap-4">
        <div class="w-[12rem]">
          <nz-form-label
            class="!text-left [&>*]:!text-lg"
            [nzNoColon]="true"
            [nzRequired]="false">
            {{
              ('EMPLOYEES.SELECT_EMPLOYEE' | translate | async) ||
                'Select Employee'
            }}
          </nz-form-label>
          <nz-select
            [disabled]="isEditMode"
            class="w-full"
            nzShowSearch
            nzAllowClear
            [nzNotFoundContent]="
              searchTermInternal.length > 0
                ? noResultsSearchTemplate
                : typeToSearchTemplate
            "
            [nzServerSearch]="true"
            [nzShowSearch]="true"
            [nzServerSearch]="true"
            [nzPlaceHolder]="
              selectedEmployee ||
              ('EMPLOYEES.SELECT_EMPLOYEE' | translate | async) ||
              'Select Employee'
            "
            [(ngModel)]="selectedEmployee"
            (nzOnSearch)="handleEmployeeSearch($event)"
            (ngModelChange)="handleEmployeeSelected($event)">
            <nz-option
              *ngFor="let employee of employeeList || []"
              [nzLabel]="employee.name"
              [nzValue]="employee.name"></nz-option>
          </nz-select>
        </div>
        <div class="w-[6rem]">
          <nz-form-label
            class="!text-left [&>*]:!text-lg"
            [nzNoColon]="true"
            [nzRequired]="false">
            {{
              ('COMMON.FINANCIAL.DISCOUNT' | translate | async) || 'Discount'
            }}
          </nz-form-label>
          <input
            [disabled]="isEditMode"
            class="!text-right"
            nz-input
            [title]="
              ('COMMON.FINANCIAL.DISCOUNT' | translate | async) || 'Discount'
            "
            [(ngModel)]="discountDisplay"
            (ngModelChange)="onDiscountChange(discountDisplay)"
            (blur)="onDiscountBlur()"
            mask="percent"
            suffix="%" />
        </div>
        <div class="flex flex-row relative top-[1rem]">
          <app-expense-item-tag
            class="[&>*]:!m-0 mr-0 !ml-auto"
            [isExpense]="true"
            [label]="
              ('COMMON.FINANCIAL.SUBTOTAL' | translate | async) || 'Subtotal'
            "
            [value]="subtotal"></app-expense-item-tag>
        </div>
        <div class="flex flex-row relative top-[1rem]">
          <app-expense-item-tag
            [isExpense]="true"
            [label]="('COMMON.FINANCIAL.TOTAL' | translate | async) || 'Total'"
            [value]="total"></app-expense-item-tag>
        </div>
      </div>
      <div class="flex flex-row gap-2">
        <button
          nz-button
          [title]="
            ('COMMON.REPORTS.DOWNLOAD_REPORT' | translate | async) ||
            'Download Report'
          "
          class="!rounded-lg !items-center justify-center !flex !flex-col relative">
          <div class="flex flex-row gap-1 items-center">
            <span class="sr-only">{{
              ('COMMON.REPORTS.DOWNLOAD_REPORT' | translate | async) ||
                'Download Report'
            }}</span>
            <span
              class="items-center flex flex-col justify-center"
              nz-icon
              [nzType]="'download'"
              nzTheme="outline"></span>
          </div>
        </button>
        <button
          nz-button
          [title]="
            ('COMMON.REPORTS.PRINT_REPORT' | translate | async) ||
            'Print Report'
          "
          class="!rounded-lg !items-center justify-center !flex !flex-col relative">
          <div class="flex flex-row gap-1 items-center">
            <span class="sr-only">{{
              ('COMMON.REPORTS.PRINT_REPORT' | translate | async) ||
                'Print Report'
            }}</span>
            <span
              class="items-center flex flex-col justify-center"
              nz-icon
              [nzType]="'printer'"
              nzTheme="outline"></span>
          </div>
        </button>
        <button
          nz-button
          [title]="
            ('COMMON.REPORTS.EMAIL_REPORT' | translate | async) ||
            'Email Report'
          "
          class="!rounded-lg !items-center justify-center !flex !flex-col relative">
          <div class="flex flex-row gap-1 items-center">
            <span class="sr-only">{{
              ('COMMON.REPORTS.EMAIL_REPORT' | translate | async) ||
                'Email Report'
            }}</span>
            <span
              class="items-center flex flex-col justify-center"
              nz-icon
              [nzType]="'mail'"
              nzTheme="outline"></span>
          </div>
        </button>
      </div>
    </div>
    <app-check-item-list
      #checkItemListComponent
      [isDisabled]="isEditMode"
      [items]="checkItemList"
      (addItemRequest)="handleAddLineItem()"
      (itemDeleted)="handleDeleteLineItem($event)"
      (changed)="handleLineItemsChanged($event)"
      (isValid)="handleIsValid($event)"
      (isTouched)="handleCheckFormTouched($event)"
      class="[&>*]:mt-4"></app-check-item-list>
  </div>
</div>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="onCancel()">
    {{ ('COMMON.ACTIONS.CANCEL' | translate | async) || 'Cancel' }}
  </button>
  <button
    nz-button
    nzType="primary"
    [disabled]="!isFormValid()"
    (click)="submitForm()">
    {{
      data?.check || check
        ? ('COMMON.ACTIONS.UPDATE' | translate | async) || 'Update'
        : ('COMMON.ACTIONS.CREATE' | translate | async) || 'Create'
    }}
  </button>
</ng-template>

<!-- No Results Found Template -->
<ng-template #noResultsSearchTemplate>
  <app-no-results-input-template></app-no-results-input-template>
</ng-template>

<!-- Type to Search Template -->
<ng-template #typeToSearchTemplate>
  <app-type-to-search-template></app-type-to-search-template>
</ng-template>
