<div class="flex flex-col mt-[2rem] min-w-full overflow-hidden">
  <div class="flex flex-row items-center justify-between">
    <h1 class="text-2xl">Checks</h1>
    <div class="flex flex-row gap-1">
      <button
        (click)="handleCreateCheckReport()"
        title="Create Report"
        nz-button
        class="ml-2 items-center flex mb-[0.5em] !rounded-lg">
        <span
          >Create Report
          <span
            class="items-center flex relative bottom-[0.15rem]"
            nz-icon
            [nzTheme]="'outline'"
            nzType="project"></span
        ></span>
      </button>
      <button
        (click)="handleEmployeeManagement()"
        title="Manage Employees"
        nz-button
        class="ml-2 items-center flex mb-[0.5em] !rounded-lg">
        <span
          >Manage Employees
          <span
            class="items-center flex relative bottom-[0.15rem]"
            nz-icon
            [nzTheme]="'outline'"
            nzType="user-add"></span
        ></span>
      </button>
      <button
        (click)="handleCreateCheck()"
        title="Create Check"
        nz-button
        class="ml-2 items-center flex mb-[0.5em] !rounded-lg">
        <span
          >Create Check
          <span
            class="items-center flex relative bottom-[0.15rem]"
            nz-icon
            [nzTheme]="'outline'"
            nzType="plus-circle"></span
        ></span>
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <app-checks-report-table
      [isActionRowVisible]="true"
      [listOfData]="(checks | async) || []"
      (deleteItem)="handleDeleteItem($event)"
      (printItem)="handlePrintItem($event)"
      (viewItem)="handleViewItem($event)">
    </app-checks-report-table>
  </div>
</div>

<ng-template #CreateChecksReportModalTemplate>
  <app-create-checks-report-modal
    [checks]="(reportChecks$ | async) || []"
    (dateRangeChanged)="
      handleReportDateRangeChange($event)
    "></app-create-checks-report-modal>
</ng-template>

<ng-template #EmployeeManagementModalTemplate>
  <app-employee-modal
    (employeeCreated)="handleEmployeeCreated($event)"
    [employeeList]="(employeeList$ | async) || []"
    (employeeSearched)="handleClientSearched($event)"
    (employeeEdited)="handleEmployeeEdited($event)"
    (employeeDeleted)="handleEmployeeDeleted($event)" />
</ng-template>
