<form nz-form [formGroup]="createEmployeeForm" (ngSubmit)="onSubmit()">
  <div
    *ngIf="data?.employee"
    class="flex flex-row w-full justify-end items-center">
    <button
      title="Edit Employee"
      class="!flex !flex-row !justify-center !items-center !rounded-2xl !gap-1"
      nz-button
      [nzType]="isEditMode ? 'default' : 'primary'"
      (click)="handleEditToggleClicked()"
      type="button">
      <span class="sr-only">Edit</span>
      <span
        class="!flex !flex-row !justify-center !items-center !ml-0"
        nz-icon
        [nzType]="'edit'"
        nzTheme="outline"></span>
    </button>
  </div>
  <div class="md:grid-cols-2 md:grid gap-4 flex flex-col">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the employee's name">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true"
          >Name</nz-form-label
        >
        <input
          formControlName="name"
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the employee's address">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true"
          >Address</nz-form-label
        >
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="address" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid phone number">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true"
          >Phone</nz-form-label
        >
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="phone" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the employee's city">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true"
          >City</nz-form-label
        >
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="city" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid email address">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true"
          >Email</nz-form-label
        >

        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input the employee's state">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true"
          >State</nz-form-label
        >
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="state" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid hourly rate">
        <nz-form-label [nzNoColon]="true" [nzRequired]="false"
          >Hourly Rate</nz-form-label
        >
        <input
          currencyMask
          class="!mt-1 !block !text-left !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="hourlyRate" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a valid zipcode">
        <nz-form-label [nzNoColon]="true" [nzRequired]="true"
          >Zipcode</nz-form-label
        >
        <input
          class="!mt-1 !block !w-full !rounded-md !border-gray-300 !shadow-sm !focus:border-indigo-300 !focus:ring !focus:ring-indigo-200 !focus:ring-opacity-50"
          nz-input
          formControlName="zipCode" />
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
