<div class="flex flex-col mt-[2rem] min-w-full overflow-hidden">
  <div class="flex flex-row items-center justify-between">
    <h1 class="text-2xl">Weekly Reports</h1>
    <button
      (click)="handleCreateReport()"
      title="Create Report"
      nz-button
      class="ml-4 items-center flex mb-[0.5em] !rounded-lg">
      <span
        >Create Report
        <span
          class="items-center flex relative bottom-[0.15rem]"
          nz-icon
          [nzTheme]="'outline'"
          nzType="plus-circle"></span
      ></span>
    </button>
  </div>
  <div class="flex flex-col gap-4">
    <app-weekly-reports-table
      [listOfData]="(reports | async) || []"
      (deleteItem)="handleDeleteItem($event)"
      (printItem)="handlePrintItem($event)"
      (viewItem)="handleViewItem($event)"></app-weekly-reports-table>
  </div>
</div>
