<div class="flex flex-col mt-[1rem] min-w-full overflow-hidden">
  <div class="overflow-auto max-h-[80dvh]">
    <div class="flex flex-row gap-4 mx-2 items-center justify-between">
      <div class="w-[12rem]">
        <!-- create client nz-select -->
        <nz-select
          class="w-full"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select Employee"
          [(ngModel)]="selectedEmployee"
          (ngModelChange)="handleEmployeeChanged($event)">
          <nz-option
            *ngFor="let client of employeeList"
            [nzLabel]="client.name"
            [nzValue]="client.id"></nz-option>
        </nz-select>
      </div>
      <div class="flex flex-row gap-2">
        <button
          nz-button
          title="Download Report"
          class="!rounded-lg !items-center justify-center !flex !flex-col relative">
          <div class="flex flex-row gap-1 items-center">
            <span class="sr-only">Download Report</span>
            <span
              class="items-center flex flex-col justify-center"
              nz-icon
              [nzType]="'download'"
              nzTheme="outline"></span>
          </div>
        </button>
        <button
          nz-button
          title="Print Report"
          class="!rounded-lg !items-center justify-center !flex !flex-col relative">
          <div class="flex flex-row gap-1 items-center">
            <span class="sr-only">Print Report</span>
            <span
              class="items-center flex flex-col justify-center"
              nz-icon
              [nzType]="'printer'"
              nzTheme="outline"></span>
          </div>
        </button>
        <button
          nz-button
          title="Email Report"
          class="!rounded-lg !items-center justify-center !flex !flex-col relative">
          <div class="flex flex-row gap-1 items-center">
            <span class="sr-only">Email Report</span>
            <span
              class="items-center flex flex-col justify-center"
              nz-icon
              [nzType]="'mail'"
              nzTheme="outline"></span>
          </div>
        </button>
      </div>
    </div>
    <!-- <app-invoice-item-list
      [items]="checkItemList"
      (addItemRequest)="handleAddLineItem()"
      (itemDeleted)="handleDeleteLineItem($event)"
      (changed)="handleLineItemsChanged($event)"
      (isValid)="handleIsValid($event)"
      class="[&>*]:mt-4"></app-invoice-item-list> -->
  </div>
</div>
