<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div
  #table
  class="flex flex-col justify-center items-center min-h-full min-w-full overflow-hidden">
  <nz-table
    class="min-w-full overflow-hidden mb-[5rem]"
    #editRowTable
    nzBordered
    [nzTableLayout]="'fixed'"
    [nzShowPagination]="false"
    [nzData]="items || []">
    <thead>
      <tr>
        <th *ngFor="let field of ['description', 'total']">
          <div class="flex flex-row items-center justify-between">
            <span>{{ field | titlecase }}</span>
            <span
              *ngIf="isFieldErrorPresent(field)"
              nz-icon
              nzType="exclamation-circle"
              nzTheme="outline"
              class="!text-red-500 !text-lg ml-1 flex flex-row justify-center items-center relative bottom-[0.04rem]"
              nz-tooltip
              [nzTooltipTitle]="tooltipTemplate"
              [nzTooltipTitleContext]="{ field: field }">
            </span>
          </div>
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of rowForms; index as i"
        class="editable-row"
        (click)="stopEdit(); startEdit(i)"
        (blur)="stopEdit()">
        <td>
          <div [hidden]="editIndex === i" (click)="startEdit(i)">
            {{ data.value.description }}
          </div>
          <input
            aria-label="Description"
            (click)="$event.stopPropagation()"
            [hidden]="editIndex !== i"
            nz-input
            [formControl]="getFormControl(rowForms[i], 'description')" />
        </td>
        <td>
          <div [hidden]="editIndex === i" (click)="startEdit(i)">
            {{ data.value.total | currency }}
          </div>
          <input
            class="!text-left"
            currencyMask
            aria-label="Total"
            (click)="$event.stopPropagation()"
            [hidden]="editIndex !== i"
            nz-input
            [formControl]="getFormControl(rowForms[i], 'total')" />
        </td>

        <td class="flex flex-col items-center justify-center">
          <button
            title="Delete Row"
            type="button"
            class="!rounded-lg items-center justify-center flex flex-col"
            nz-button
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            (nzOnConfirm)="deleteItem(i)">
            <span
              class="items-center !text-red-400 justify-center h-[1.4rem]"
              nz-icon
              [nzType]="'delete'"
              nzTheme="outline"
              ><span class="sr-only">Delete Item</span></span
            >
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div
    class="fixed bottom-[5rem] w-full flex flex-col justify-center items-center">
    <button
      nz-button
      [disabled]="rowForms.length > 0 && !rowForms[rowForms.length - 1].valid"
      (click)="requestAddItem()"
      nzType="primary"
      nzSize="large"
      class="!rounded-lg w-[40%] justify-center items-center flex flex-auto">
      Add Line Item
    </button>
  </div>
</div>

<ng-template #tooltipTemplate let-field="field">
  <div
    class="flex flex-col items-center bg-white border border-red-400 rounded-lg p-2 shadow-lg">
    <span class="text-red-500 font-semibold text-sm">Error</span>
    <span class="text-gray-700 text-xs mt-1">
      {{ getErrorMessageForField(field) }}
    </span>
  </div>
</ng-template>
