<div class="flex flex-col mt-[1rem] min-w-full overflow-hidden">
  <div class="overflow-auto max-h-[80dvh]">
    <div class="flex flex-row gap-4 mx-2 items-center justify-between">
      <div class="w-[12rem]">
        <div>
          <nz-form-label
            class="!text-left [&>*]:!text-lg"
            [nzNoColon]="true"
            [nzRequired]="false">
            Search
          </nz-form-label>
          <nz-input-group [nzSuffixIcon]="'search'">
            <input
              nz-input
              placeholder="Search Clients"
              aria-label="search"
              [(ngModel)]="searchTerm"
              (ngModelChange)="handleClientSearch($event)" />
          </nz-input-group>
        </div>
      </div>
      <div class="flex flex-row gap-2">
        <button
          (click)="handleCreateClientClicked()"
          nz-button
          title="Add Client"
          class="!rounded-lg !items-center justify-center !flex !flex-col">
          <div class="flex flex-row gap-1 items-center">
            <span>Add Client</span>
            <span
              class="items-center flex flex-col justify-center"
              nz-icon
              [nzType]="'plus-circle'"
              nzTheme="outline"></span>
          </div>
        </button>
      </div>
    </div>
    <app-client-list-table
      [count]="count"
      [limit]="limit"
      [currentPage]="currentPage"
      [loading$]="loading$"
      [listOfData]="clientList"
      (pageChange)="handlePageChange($event)"
      (deleteItem)="handleClientDeleted($event)"
      (printItem)="handlePrintItem($event)"
      (viewItem)="handleViewClientClicked($event)"
      class="[&>*]:mt-4"></app-client-list-table>
  </div>
</div>
