<div class="flex flex-col mt-4 mb-4 min-w-full overflow-hidden">
  <div class="overflow-auto">
    <div class="flex flex-row gap-4 items-center justify-between">
      <div class="w-[12rem]">
        <div>
          <nz-form-label
            class="!text-left [&>*]:!text-lg"
            [nzNoColon]="true"
            [nzRequired]="false">
            {{ ('COMMON.ACTIONS.SEARCH' | translate | async) || 'Search' }}
          </nz-form-label>
          <nz-input-group [nzSuffixIcon]="'search'">
            <input
              nz-input
              [placeholder]="
                ('CLIENTS.SEARCH_CLIENTS' | translate | async) ||
                'Search Clients'
              "
              aria-label="search"
              [(ngModel)]="searchTerm"
              (ngModelChange)="handleClientSearch($event)" />
          </nz-input-group>
        </div>
      </div>
      <div class="flex flex-row place-self-end gap-2">
        <button
          (click)="handleCreateClientClicked()"
          nz-button
          [title]="('CLIENTS.ADD_CLIENT' | translate | async) || 'Add Client'"
          class="!rounded-lg !items-center justify-center !flex !flex-col">
          <div class="flex flex-row gap-1 items-center">
            <span>{{
              ('CLIENTS.ADD_CLIENT' | translate | async) || 'Add Client'
            }}</span>
            <span
              class="items-center flex flex-col justify-center"
              nz-icon
              [nzType]="'plus-circle'"
              nzTheme="outline"></span>
          </div>
        </button>
      </div>
    </div>
    <app-client-list-table
      [count]="count"
      [limit]="limit"
      [currentPage]="currentPage"
      [loading$]="loading$"
      [listOfData]="clientList"
      (pageChange)="handlePageChange($event)"
      (deleteItem)="handleClientDeleted($event)"
      (printItem)="handlePrintItem($event)"
      (viewItem)="handleViewClientClicked($event)"
      class="[&>*]:mt-2"></app-client-list-table>
  </div>
</div>
