<div class="flex flex-col mt-[2rem] min-w-full overflow-hidden">
  <div class="flex flex-row items-center justify-between">
    <h1 class="text-2xl">
      {{
        ('COMMON.FEATURES.WEEKLY_REPORTS' | translate | async) ||
          'Weekly Reports'
      }}
    </h1>
    <div class="flex flex-row gap-4 items-end mb-2">
      <button
        (click)="handleCreateAnalysisReport()"
        [title]="
          ('WEEKLY_REPORTS.CREATE_EXPENSE_REPORT' | translate | async) ||
          'Create Expense Report'
        "
        nz-button
        class="items-center flex !rounded-lg">
        <span
          >{{
            ('WEEKLY_REPORTS.CREATE_EXPENSE_REPORT' | translate | async) ||
              'Create Expense Report'
          }}
          <span
            class="items-center flex relative"
            nz-icon
            [nzTheme]="'outline'"
            nzType="project"></span
        ></span>
      </button>
      <button
        (click)="handleCreateReport()"
        [title]="
          ('COMMON.REPORTS.CREATE_REPORT' | translate | async) ||
          'Create Report'
        "
        nz-button
        class="items-center flex !rounded-lg">
        <span
          >{{
            ('COMMON.REPORTS.CREATE_REPORT' | translate | async) ||
              'Create Report'
          }}
          <span
            class="items-center flex relative"
            nz-icon
            [nzTheme]="'outline'"
            nzType="plus-circle"></span
        ></span>
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <app-weekly-reports-table
      [totalRecords]="totalRecords"
      [limit]="limit"
      [loading$]="loading$"
      [currentPage]="currentPage"
      [listOfData]="(reports$ | async) || []"
      (deleteItem)="handleDeleteItem($event)"
      (printItem)="handlePrintItem($event)"
      (pageChange)="onPageChange($event)"
      (viewItem)="handleViewItem($event)">
    </app-weekly-reports-table>
  </div>
</div>
